---
layout: bio
---

<h2>{{ site.data.bio.basics.name }}</h2>
<img src="{{ site.data.bio.basics.picture }}" alt="Avatar" />

<p>{{ site.data.bio.basics.summary }}</p>

<h3>Interests</h3>
<ul>
  {% for interest in site.data.bio.interests %}
    <li>{{ interest.name }}</li>
  {% endfor %}
</ul>

<h3>Education</h3>
<ul>
  {% for education in site.data.bio.education %}
    <li>{{ education.institution }}: {{ education.area }} (Graduation: {{ education.endDate }})</li>
  {% endfor %}
</ul>

<h3>Skills</h3>
<ul>
  {% for skill in site.data.bio.skills %}
    <li>{{ skill.name }}: {{ skill.keywords | join: ", " }}</li>
  {% endfor %}
</ul>
